<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjpu.sp.dao.envhousekeepers.EntManualReportMapper">
  <resultMap id="BaseResultMap" type="com.tjpu.sp.model.envhousekeepers.EntManualReportVO">
    <id column="PK_ID" jdbcType="VARCHAR" property="pkId" />
    <result column="FK_PollutionID" jdbcType="VARCHAR" property="fkPollutionid" />
    <result column="ReportName" jdbcType="VARCHAR" property="reportname" />
    <result column="ReportTime" jdbcType="TIMESTAMP" property="reporttime" />
    <result column="FK_FileId" jdbcType="VARCHAR" property="fkFileid" />
    <result column="UpdateUser" jdbcType="VARCHAR" property="updateuser" />
    <result column="UpdateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    PK_ID, FK_PollutionID, ReportName, ReportTime, FK_FileId, UpdateUser, UpdateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_GJ_EntManualReport
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_GJ_EntManualReport
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tjpu.sp.model.envhousekeepers.EntManualReportVO">
    insert into T_GJ_EntManualReport (PK_ID, FK_PollutionID, ReportName, 
      ReportTime, FK_FileId, UpdateUser, 
      UpdateTime)
    values (#{pkId,jdbcType=VARCHAR}, #{fkPollutionid,jdbcType=VARCHAR}, #{reportname,jdbcType=VARCHAR}, 
      #{reporttime,jdbcType=TIMESTAMP}, #{fkFileid,jdbcType=VARCHAR}, #{updateuser,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tjpu.sp.model.envhousekeepers.EntManualReportVO">
    insert into T_GJ_EntManualReport
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pkId != null">
        PK_ID,
      </if>
      <if test="fkPollutionid != null">
        FK_PollutionID,
      </if>
      <if test="reportname != null">
        ReportName,
      </if>
      <if test="reporttime != null">
        ReportTime,
      </if>
      <if test="fkFileid != null">
        FK_FileId,
      </if>
      <if test="updateuser != null">
        UpdateUser,
      </if>
      <if test="updatetime != null">
        UpdateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pkId != null">
        #{pkId,jdbcType=VARCHAR},
      </if>
      <if test="fkPollutionid != null">
        #{fkPollutionid,jdbcType=VARCHAR},
      </if>
      <if test="reportname != null">
        #{reportname,jdbcType=VARCHAR},
      </if>
      <if test="reporttime != null">
        #{reporttime,jdbcType=TIMESTAMP},
      </if>
      <if test="fkFileid != null">
        #{fkFileid,jdbcType=VARCHAR},
      </if>
      <if test="updateuser != null">
        #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tjpu.sp.model.envhousekeepers.EntManualReportVO">
    update T_GJ_EntManualReport
    <set>
      <if test="fkPollutionid != null">
        FK_PollutionID = #{fkPollutionid,jdbcType=VARCHAR},
      </if>
      <if test="reportname != null">
        ReportName = #{reportname,jdbcType=VARCHAR},
      </if>
      <if test="reporttime != null">
        ReportTime = #{reporttime,jdbcType=TIMESTAMP},
      </if>
      <if test="fkFileid != null">
        FK_FileId = #{fkFileid,jdbcType=VARCHAR},
      </if>
      <if test="updateuser != null">
        UpdateUser = #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tjpu.sp.model.envhousekeepers.EntManualReportVO">
    update T_GJ_EntManualReport
    set FK_PollutionID = #{fkPollutionid,jdbcType=VARCHAR},
      ReportName = #{reportname,jdbcType=VARCHAR},
      ReportTime = #{reporttime,jdbcType=TIMESTAMP},
      FK_FileId = #{fkFileid,jdbcType=VARCHAR},
      UpdateUser = #{updateuser,jdbcType=VARCHAR},
      UpdateTime = #{updatetime,jdbcType=TIMESTAMP}
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>
  <select id="getListDataByParamMap" parameterType="map" resultType="map">
    select
    pk_id,
    fk_pollutionid,
    reportname,
    fk_fileid,
    convert ( varchar ( 10 ), reporttime, 120 ) reporttime,
    convert ( varchar ( 19 ), UpdateTime, 120 ) updatetime
    from
    T_GJ_EntManualReport
    <where>
      <if test="pollutionid!=null and pollutionid!='' ">
        and FK_PollutionID = #{pollutionid}
      </if>
      <if test="reportname!=null and reportname!='' ">
        and reportname like concat('%', #{reportname},'%')
      </if>
      <if test="starttime != null and starttime !=''">
        AND CONVERT (VARCHAR (10),reporttime,120) >= #{starttime}
      </if>
      <if test="endtime != null and endtime !=''">
        AND CONVERT (VARCHAR (10),reporttime,120) <![CDATA[<=]]> #{endtime}
      </if>
    </where>
    order by reporttime DESC
  </select>


</mapper>