<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjpu.sp.dao.environmentalprotection.radiationsafety.SourcesMapper">
  <resultMap id="BaseResultMap" type="com.tjpu.sp.model.environmentalprotection.radiationsafety.SourcesVO">
    <id column="PK_RadId" jdbcType="VARCHAR" property="pkRadid" />
    <result column="FK_LicenceID" jdbcType="VARCHAR" property="fkLicenceid" />
    <result column="FK_WorkPlaceID" jdbcType="VARCHAR" property="fkWorkplaceid" />
    <result column="FK_RadionuclideCode" jdbcType="VARCHAR" property="fkRadionuclidecode" />
    <result column="FK_RadionTypeCode" jdbcType="VARCHAR" property="fkRadiontypecode" />
    <result column="TotalActivity" jdbcType="VARCHAR" property="totalactivity" />
    <result column="FK_ActivityTypeCode" jdbcType="VARCHAR" property="fkActivitytypecode" />
    <result column="UpdateUser" jdbcType="VARCHAR" property="updateuser" />
    <result column="UpdateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    PK_RadId, FK_LicenceID, FK_WorkPlaceID, FK_RadionuclideCode, FK_RadionTypeCode, TotalActivity, 
    FK_ActivityTypeCode, UpdateUser, UpdateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_HYFS_RadSources
    where PK_RadId = #{pkRadid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_HYFS_RadSources
    where PK_RadId = #{pkRadid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tjpu.sp.model.environmentalprotection.radiationsafety.SourcesVO">
    insert into T_HYFS_RadSources (PK_RadId, FK_LicenceID, FK_WorkPlaceID, 
      FK_RadionuclideCode, FK_RadionTypeCode, TotalActivity, 
      FK_ActivityTypeCode, UpdateUser, UpdateTime
      )
    values (#{pkRadid,jdbcType=VARCHAR}, #{fkLicenceid,jdbcType=VARCHAR}, #{fkWorkplaceid,jdbcType=VARCHAR}, 
      #{fkRadionuclidecode,jdbcType=VARCHAR}, #{fkRadiontypecode,jdbcType=VARCHAR}, #{totalactivity,jdbcType=VARCHAR}, 
      #{fkActivitytypecode,jdbcType=VARCHAR}, #{updateuser,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tjpu.sp.model.environmentalprotection.radiationsafety.SourcesVO">
    insert into T_HYFS_RadSources
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pkRadid != null">
        PK_RadId,
      </if>
      <if test="fkLicenceid != null">
        FK_LicenceID,
      </if>
      <if test="fkWorkplaceid != null">
        FK_WorkPlaceID,
      </if>
      <if test="fkRadionuclidecode != null">
        FK_RadionuclideCode,
      </if>
      <if test="fkRadiontypecode != null">
        FK_RadionTypeCode,
      </if>
      <if test="totalactivity != null">
        TotalActivity,
      </if>
      <if test="fkActivitytypecode != null">
        FK_ActivityTypeCode,
      </if>
      <if test="updateuser != null">
        UpdateUser,
      </if>
      <if test="updatetime != null">
        UpdateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pkRadid != null">
        #{pkRadid,jdbcType=VARCHAR},
      </if>
      <if test="fkLicenceid != null">
        #{fkLicenceid,jdbcType=VARCHAR},
      </if>
      <if test="fkWorkplaceid != null">
        #{fkWorkplaceid,jdbcType=VARCHAR},
      </if>
      <if test="fkRadionuclidecode != null">
        #{fkRadionuclidecode,jdbcType=VARCHAR},
      </if>
      <if test="fkRadiontypecode != null">
        #{fkRadiontypecode,jdbcType=VARCHAR},
      </if>
      <if test="totalactivity != null">
        #{totalactivity,jdbcType=VARCHAR},
      </if>
      <if test="fkActivitytypecode != null">
        #{fkActivitytypecode,jdbcType=VARCHAR},
      </if>
      <if test="updateuser != null">
        #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tjpu.sp.model.environmentalprotection.radiationsafety.SourcesVO">
    update T_HYFS_RadSources
    <set>
      <if test="fkLicenceid != null">
        FK_LicenceID = #{fkLicenceid,jdbcType=VARCHAR},
      </if>
      <if test="fkWorkplaceid != null">
        FK_WorkPlaceID = #{fkWorkplaceid,jdbcType=VARCHAR},
      </if>
      <if test="fkRadionuclidecode != null">
        FK_RadionuclideCode = #{fkRadionuclidecode,jdbcType=VARCHAR},
      </if>
      <if test="fkRadiontypecode != null">
        FK_RadionTypeCode = #{fkRadiontypecode,jdbcType=VARCHAR},
      </if>
      <if test="totalactivity != null">
        TotalActivity = #{totalactivity,jdbcType=VARCHAR},
      </if>
      <if test="fkActivitytypecode != null">
        FK_ActivityTypeCode = #{fkActivitytypecode,jdbcType=VARCHAR},
      </if>
      <if test="updateuser != null">
        UpdateUser = #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where PK_RadId = #{pkRadid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tjpu.sp.model.environmentalprotection.radiationsafety.SourcesVO">
    update T_HYFS_RadSources
    set FK_LicenceID = #{fkLicenceid,jdbcType=VARCHAR},
      FK_WorkPlaceID = #{fkWorkplaceid,jdbcType=VARCHAR},
      FK_RadionuclideCode = #{fkRadionuclidecode,jdbcType=VARCHAR},
      FK_RadionTypeCode = #{fkRadiontypecode,jdbcType=VARCHAR},
      TotalActivity = #{totalactivity,jdbcType=VARCHAR},
      FK_ActivityTypeCode = #{fkActivitytypecode,jdbcType=VARCHAR},
      UpdateUser = #{updateuser,jdbcType=VARCHAR},
      UpdateTime = #{updatetime,jdbcType=TIMESTAMP}
    where PK_RadId = #{pkRadid,jdbcType=VARCHAR}
  </update>
  <!--
      author:liyc
      description: 通过自定义参数获取放射源信息列表
      param:
      date: 2019/10/22 16:40
  -->
  <select id="getSourceListByParamMap" parameterType="map" resultType="map">
      SELECT
        t1.PK_RadId,
        t2.LicenceNum,
        t3.Name FKRadionuclideName,
        t4.Name FKRadionTypeName,
        t1.TotalActivity,
        t5.Name FKActivityTypeName
        FROM
        T_HYFS_RadSources t1
        LEFT JOIN T_HYFS_LicenceInfo t2 ON t1.FK_LicenceID= t2.PK_LicenceId
        LEFT JOIN PUB_CODE_Radionuclide t3 ON t1.FK_RadionuclideCode=t3.Code
        LEFT JOIN PUB_CODE_RadionType t4 ON t1.FK_RadionTypeCode=t4.Code
        LEFT JOIN PUB_CODE_ActivityType t5 ON t1.FK_ActivityTypeCode=t5.Code
        JOIN T_BAS_Pollution p  ON p.PK_PollutionID = t2.FK_PollutionID
        <where>
          <if test="fkpollutionid!=null and fkpollutionid!=''">
            and t2.FK_PollutionID=#{fkpollutionid}
          </if>
          <if test="licenceid!=null and licenceid!=''">
              and t2.PK_LicenceId=#{licenceid}
          </if>
          <if test="licencenum!=null and licencenum!=''">
              and t2.LicenceNum LIKE concat('%',#{licencenum,jdbcType=VARCHAR},'%')
          </if>
          <if test="fkradiontypecodes!=null and fkradiontypecodes.size>0">
              and t1.FK_RadionTypeCode IN
            <foreach collection="fkradiontypecodes" index="index" item="item" open="("
                     separator="," close=")">
              #{item}
            </foreach>
          </if>
        </where>
  </select>
  <!--
      author:liyc
      description: 获取放射源详情信息
      param:
      date: 2019/10/22 19:17
  -->
  <select id="getSourceDetailById" parameterType="java.lang.String" resultType="map">
       SELECT
          t2.LicenceNum,
          t3.Name FKRadionuclideName,
          t4.Name FKRadionTypeName,
          t1.TotalActivity,
          t5.Name FKActivityTypeName
          FROM
          T_HYFS_RadSources t1
          LEFT JOIN T_HYFS_LicenceInfo t2 ON t1.FK_LicenceID= t2.PK_LicenceId
          LEFT JOIN PUB_CODE_Radionuclide t3 ON t1.FK_RadionuclideCode=t3.Code
          LEFT JOIN PUB_CODE_RadionType t4 ON t1.FK_RadionTypeCode=t4.Code
          LEFT JOIN PUB_CODE_ActivityType t5 ON t1.FK_ActivityTypeCode=t5.Code
          WHERE PK_RadId=#{id,jdbcType=VARCHAR}
  </select>
</mapper>