<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjpu.sp.dao.extand.JGMessageRecordInfoMapper">
  <resultMap id="BaseResultMap" type="com.tjpu.sp.model.extand.JGMessageRecordInfoVO">
    <id column="PK_ID" jdbcType="VARCHAR" property="pkId" />
    <result column="MessageType" jdbcType="NUMERIC" property="messagetype" />
    <result column="MessageContent" jdbcType="VARCHAR" property="messagecontent" />
    <result column="FK_BusinessId" jdbcType="VARCHAR" property="fkBusinessid" />
    <result column="Remark" jdbcType="VARCHAR" property="remark" />
    <result column="UpdateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="UpdateUser" jdbcType="VARCHAR" property="updateuser" />
  </resultMap>
  <sql id="Base_Column_List">
    PK_ID, MessageType, MessageContent, FK_BusinessId, Remark, UpdateTime, UpdateUser
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_JG_MessageRecordInfo
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_JG_MessageRecordInfo
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tjpu.sp.model.extand.JGMessageRecordInfoVO">
    insert into T_JG_MessageRecordInfo (PK_ID, MessageType, MessageContent, 
      FK_BusinessId, Remark, UpdateTime, 
      UpdateUser)
    values (#{pkId,jdbcType=VARCHAR}, #{messagetype,jdbcType=NUMERIC}, #{messagecontent,jdbcType=VARCHAR}, 
      #{fkBusinessid,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{updateuser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tjpu.sp.model.extand.JGMessageRecordInfoVO">
    insert into T_JG_MessageRecordInfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pkId != null">
        PK_ID,
      </if>
      <if test="messagetype != null">
        MessageType,
      </if>
      <if test="messagecontent != null">
        MessageContent,
      </if>
      <if test="fkBusinessid != null">
        FK_BusinessId,
      </if>
      <if test="remark != null">
        Remark,
      </if>
      <if test="updatetime != null">
        UpdateTime,
      </if>
      <if test="updateuser != null">
        UpdateUser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pkId != null">
        #{pkId,jdbcType=VARCHAR},
      </if>
      <if test="messagetype != null">
        #{messagetype,jdbcType=NUMERIC},
      </if>
      <if test="messagecontent != null">
        #{messagecontent,jdbcType=VARCHAR},
      </if>
      <if test="fkBusinessid != null">
        #{fkBusinessid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null">
        #{updateuser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tjpu.sp.model.extand.JGMessageRecordInfoVO">
    update T_JG_MessageRecordInfo
    <set>
      <if test="messagetype != null">
        MessageType = #{messagetype,jdbcType=NUMERIC},
      </if>
      <if test="messagecontent != null">
        MessageContent = #{messagecontent,jdbcType=VARCHAR},
      </if>
      <if test="fkBusinessid != null">
        FK_BusinessId = #{fkBusinessid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null">
        UpdateUser = #{updateuser,jdbcType=VARCHAR},
      </if>
    </set>
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tjpu.sp.model.extand.JGMessageRecordInfoVO">
    update T_JG_MessageRecordInfo
    set MessageType = #{messagetype,jdbcType=NUMERIC},
      MessageContent = #{messagecontent,jdbcType=VARCHAR},
      FK_BusinessId = #{fkBusinessid,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=VARCHAR},
      UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      UpdateUser = #{updateuser,jdbcType=VARCHAR}
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>
</mapper>