<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjpu.sp.dao.environmentalprotection.monitorpoint.WaterOutPutPollutantSetMapper">
    <resultMap id="BaseResultMap"
               type="com.tjpu.sp.model.environmentalprotection.monitorpoint.WaterOutPutPollutantSetVO">
        <id column="PK_DataID" jdbcType="VARCHAR" property="pkDataid"/>
        <result column="FK_PollutionID" jdbcType="VARCHAR" property="fkPollutionid"/>
        <result column="FK_WaterOutPutID" jdbcType="VARCHAR" property="fkWateroutputid"/>
        <result column="FK_PollutantCode" jdbcType="VARCHAR" property="fkPollutantcode"/>
        <result column="FK_StandardID" jdbcType="VARCHAR" property="fkStandardid"/>
        <result column="StandardMaxValue" jdbcType="DOUBLE" property="standardmaxvalue"/>
        <result column="StandardMinValue" jdbcType="DOUBLE" property="standardminvalue"/>
        <result column="MonitorWay" jdbcType="NUMERIC" property="monitorway"/>
        <result column="alarmtype" jdbcType="NUMERIC" property="alarmtype"/>
        <result column="alarmcontroltimes" jdbcType="NUMERIC" property="alarmcontroltimes"/>
        <result column="ExceptionMaxValue" jdbcType="DOUBLE" property="exceptionmaxvalue"/>
        <result column="ExceptionMinValue" jdbcType="DOUBLE" property="exceptionminvalue"/>
        <result column="ZeroValueTimes" jdbcType="NUMERIC" property="zerovaluetimes"/>
        <result column="ContinuityValueTimes" jdbcType="NUMERIC" property="continuityvaluetimes"/>
        <result column="UpdateTime" jdbcType="TIMESTAMP" property="updatetime"/>
        <result column="UpdateUser" jdbcType="VARCHAR" property="updateuser"/>
        <result column="FlowChangeWarnPercent" jdbcType="DOUBLE" property="flowchangewarnpercent"/>
        <result column="ConcentrationChangeWarnPercent" jdbcType="DOUBLE" property="concentrationchangewarnpercent"/>
        <result column="ChangeBaseValue" jdbcType="DOUBLE" property="changebasevalue"/>
        <result column="PollutantRatio" jdbcType="DOUBLE" property="pollutantratio"/>
        <result column="iseffectivetransmission" jdbcType="NUMERIC" property="iseffectivetransmission"/>
        <!-- 一对一标准 -->
        <association property="standardVO"
                     javaType="com.tjpu.sp.model.environmentalprotection.monitorstandard.StandardVO">
            <id column="PK_StandardID" jdbcType="VARCHAR" property="pkStandardid"/>
            <result column="StandardName" jdbcType="VARCHAR" property="standardname"/>
        </association>

        <!-- 一对一污染物 -->
        <association property="pollutantFactorVO" javaType="com.tjpu.sp.model.common.pubcode.PollutantFactorVO">
            <result column="pollutantcode" property="code" jdbcType="VARCHAR"/>
            <result column="pollutantname" property="name" jdbcType="VARCHAR"/>
            <result column="PollutantUnit" property="pollutantunit" jdbcType="VARCHAR"/>
            <result column="IsShowFlow" property="isshowflow" jdbcType="NUMERIC"/>
            <result column="IsDefaultSelect" property="isdefaultselect" jdbcType="NUMERIC"/>
        </association>


        <!-- 一对多 earlyWarningSetVOS-->

        <collection property="earlyWarningSetVOS"
                    ofType="com.tjpu.sp.model.environmentalprotection.monitorpoint.EarlyWarningSetVO">
            <result column="ConcenAlarmMinValue" jdbcType="DOUBLE" property="concenalarmminvalue"/>
            <result column="ConcenAlarmMaxValue" jdbcType="DOUBLE" property="concenalarmmaxvalue"/>

            <association property="alarmLevelVO" javaType="com.tjpu.sp.model.common.pubcode.AlarmLevelVO">
                <result column="alarmlevelcode" property="code" jdbcType="VARCHAR"/>
                <result column="alarmlevelname" property="name" jdbcType="VARCHAR"/>
            </association>
        </collection>


    </resultMap>


    <resultMap id="pollutantSetMap" type="com.tjpu.sp.model.environmentalprotection.monitorpoint.PollutantSetDataVO">
        <id column="standardid" property="pkId" jdbcType="VARCHAR"/>
        <result column="pollutantcode" property="pollutantcode" jdbcType="VARCHAR"/>
        <result column="alarmtype" property="alarmtype" jdbcType="NUMERIC"/>
        <result column="standardminvalue" property="standardminvalue" jdbcType="DOUBLE"/>
        <result column="standardmaxvalue" property="standardmaxvalue" jdbcType="DOUBLE"/>
        <collection property="alarmLevelDataVOList"
                    ofType="com.tjpu.sp.model.environmentalprotection.monitorpoint.AlarmLevelDataVO">
            <id column="alarmid" property="pkId" jdbcType="VARCHAR"/>
            <result column="concenalarmminvalue" property="standardminvalue" jdbcType="DOUBLE"/>
            <result column="concenalarmmaxvalue" property="standardmaxvalue" jdbcType="DOUBLE"/>
        </collection>
    </resultMap>


    <sql id="Base_Column_List">
    PK_DataID, FK_PollutionID, FK_WaterOutPutID, FK_PollutantCode, FK_StandardID, StandardMaxValue, 
    StandardMinValue, MonitorWay, alarmtype, alarmcontroltimes, ExceptionMaxValue, iseffectivetransmission,
    ExceptionMinValue, ZeroValueTimes, ContinuityValueTimes, UpdateTime, UpdateUser,FlowChangeWarnPercent,ConcentrationChangeWarnPercent,changebasevalue,pollutantratio
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from T_BAS_WaterOutPutPollutantSet
        where PK_DataID = #{pkDataid,jdbcType=VARCHAR}
    </select>

    <!--
           author:lip
           description: 获取废水、雨水污染物设置信息
           param:
           date: 2020/05/20 14:32
         -->
    <select id="getPollutantSetDataListByParam" parameterType="map" resultMap="pollutantSetMap">
        SELECT
            t2.pk_dataid AS standardid,
            t2.fk_pollutantcode AS pollutantcode,
            t2.standardminvalue,
            t2.standardmaxvalue,
            t2.alarmtype,
            t3.fk_alarmlevelcode AS alarmid,
            t3.concenalarmminvalue,
            t3.concenalarmmaxvalue
        FROM
            t_bas_wateroutputinfo t1
            INNER JOIN t_bas_wateroutputpollutantset t2 ON t1.pk_id = t2.fk_wateroutputid
            AND t1.pk_id = #{monitorpointid}
            LEFT JOIN t_bas_earlywarningset t3 ON t3.fk_outputid = t1.pk_id
            AND t1.fk_pollutionid = t3.fk_pollutionid
            AND t3.fk_pollutantcode = t2.fk_pollutantcode;
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_BAS_WaterOutPutPollutantSet
    where PK_DataID = #{pkDataid,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.tjpu.sp.model.environmentalprotection.monitorpoint.WaterOutPutPollutantSetVO">
    insert into T_BAS_WaterOutPutPollutantSet (PK_DataID, FK_PollutionID, FK_WaterOutPutID, 
      FK_PollutantCode, FK_StandardID, StandardMaxValue, 
      StandardMinValue, MonitorWay, alarmtype, iseffectivetransmission,
      alarmcontroltimes, ExceptionMaxValue, ExceptionMinValue, 
      ZeroValueTimes, ContinuityValueTimes, UpdateTime,FlowChangeWarnPercent,ConcentrationChangeWarnPercent,changebasevalue,pollutantratio
      UpdateUser)
    values (#{pkDataid,jdbcType=VARCHAR}, #{fkPollutionid,jdbcType=VARCHAR}, #{fkWateroutputid,jdbcType=VARCHAR}, 
      #{fkPollutantcode,jdbcType=VARCHAR}, #{fkStandardid,jdbcType=VARCHAR}, #{standardmaxvalue,jdbcType=DOUBLE}, 
      #{standardminvalue,jdbcType=DOUBLE}, #{monitorway,jdbcType=NUMERIC}, #{alarmtype,jdbcType=NUMERIC}, #{iseffectivetransmission,jdbcType=NUMERIC},
      #{alarmcontroltimes,jdbcType=NUMERIC}, #{exceptionmaxvalue,jdbcType=DOUBLE}, #{exceptionminvalue,jdbcType=DOUBLE},
      #{zerovaluetimes,jdbcType=NUMERIC}, #{continuityvaluetimes,jdbcType=NUMERIC}, #{updatetime,jdbcType=TIMESTAMP}, #{flowchangewarnpercent,jdbcType=DOUBLE},
      #{concentrationchangewarnpercent,jdbcType=DOUBLE}, #{changebasevalue,jdbcType=DOUBLE},#{pollutantratio,jdbcType=DOUBLE}, #{updateuser,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective"
            parameterType="com.tjpu.sp.model.environmentalprotection.monitorpoint.WaterOutPutPollutantSetVO">
        insert into T_BAS_WaterOutPutPollutantSet
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pkDataid != null">
                PK_DataID,
            </if>
            <if test="fkPollutionid != null">
                FK_PollutionID,
            </if>
            <if test="fkWateroutputid != null">
                FK_WaterOutPutID,
            </if>
            <if test="fkPollutantcode != null">
                FK_PollutantCode,
            </if>
            <if test="fkStandardid != null">
                FK_StandardID,
            </if>
            <if test="standardmaxvalue != null">
                StandardMaxValue,
            </if>
            <if test="standardminvalue != null">
                StandardMinValue,
            </if>
            <if test="monitorway != null">
                MonitorWay,
            </if>
            <if test="alarmtype != null">
                alarmtype,
            </if>
            <if test="iseffectivetransmission != null">
                iseffectivetransmission,
            </if>
            <if test="alarmcontroltimes != null">
                alarmcontroltimes,
            </if>
            <if test="exceptionmaxvalue != null">
                ExceptionMaxValue,
            </if>
            <if test="exceptionminvalue != null">
                ExceptionMinValue,
            </if>
            <if test="zerovaluetimes != null">
                ZeroValueTimes,
            </if>
            <if test="continuityvaluetimes != null">
                ContinuityValueTimes,
            </if>
            <if test="updatetime != null">
                UpdateTime,
            </if>
            <if test="updateuser != null">
                UpdateUser,
            </if>
            <if test="flowchangewarnpercent != null">
                FlowChangeWarnPercent,
            </if>
            <if test="concentrationchangewarnpercent != null">
                ConcentrationChangeWarnPercent,
            </if>
            <if test="changebasevalue != null">
                changebasevalue,
            </if>
            <if test="pollutantratio != null">
                pollutantratio,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pkDataid != null">
                #{pkDataid,jdbcType=VARCHAR},
            </if>
            <if test="fkPollutionid != null">
                #{fkPollutionid,jdbcType=VARCHAR},
            </if>
            <if test="fkWateroutputid != null">
                #{fkWateroutputid,jdbcType=VARCHAR},
            </if>
            <if test="fkPollutantcode != null">
                #{fkPollutantcode,jdbcType=VARCHAR},
            </if>
            <if test="fkStandardid != null">
                #{fkStandardid,jdbcType=VARCHAR},
            </if>
            <if test="standardmaxvalue != null">
                #{standardmaxvalue,jdbcType=DOUBLE},
            </if>
            <if test="standardminvalue != null">
                #{standardminvalue,jdbcType=DOUBLE},
            </if>
            <if test="monitorway != null">
                #{monitorway,jdbcType=NUMERIC},
            </if>
            <if test="alarmtype != null">
                #{alarmtype,jdbcType=NUMERIC},
            </if>
            <if test="iseffectivetransmission != null">
                #{iseffectivetransmission,jdbcType=NUMERIC},
            </if>
            <if test="alarmcontroltimes != null">
                #{alarmcontroltimes,jdbcType=NUMERIC},
            </if>
            <if test="exceptionmaxvalue != null">
                #{exceptionmaxvalue,jdbcType=DOUBLE},
            </if>
            <if test="exceptionminvalue != null">
                #{exceptionminvalue,jdbcType=DOUBLE},
            </if>
            <if test="zerovaluetimes != null">
                #{zerovaluetimes,jdbcType=NUMERIC},
            </if>
            <if test="continuityvaluetimes != null">
                #{continuityvaluetimes,jdbcType=NUMERIC},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateuser != null">
                #{updateuser,jdbcType=VARCHAR},
            </if>
            <if test="flowchangewarnpercent != null">
                #{flowchangewarnpercent,jdbcType=DOUBLE},
            </if>
            <if test="concentrationchangewarnpercent != null">
                #{concentrationchangewarnpercent,jdbcType=DOUBLE},
            </if>
            <if test="changebasevalue != null">
                #{changebasevalue,jdbcType=DOUBLE},
            </if>
            <if test="pollutantratio != null">
                #{pollutantratio,jdbcType=DOUBLE},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.tjpu.sp.model.environmentalprotection.monitorpoint.WaterOutPutPollutantSetVO">
        update T_BAS_WaterOutPutPollutantSet
        <set>
            <if test="fkPollutionid != null">
                FK_PollutionID = #{fkPollutionid,jdbcType=VARCHAR},
            </if>
            <if test="fkWateroutputid != null">
                FK_WaterOutPutID = #{fkWateroutputid,jdbcType=VARCHAR},
            </if>
            <if test="fkPollutantcode != null">
                FK_PollutantCode = #{fkPollutantcode,jdbcType=VARCHAR},
            </if>
            <if test="fkStandardid != null">
                FK_StandardID = #{fkStandardid,jdbcType=VARCHAR},
            </if>
            <if test="standardmaxvalue != null">
                StandardMaxValue = #{standardmaxvalue,jdbcType=DOUBLE},
            </if>
            <if test="standardminvalue != null">
                StandardMinValue = #{standardminvalue,jdbcType=DOUBLE},
            </if>
            <if test="monitorway != null">
                MonitorWay = #{monitorway,jdbcType=NUMERIC},
            </if>
            <if test="alarmtype != null">
                alarmtype = #{alarmtype,jdbcType=NUMERIC},
            </if>
            <if test="alarmcontroltimes != null">
                alarmcontroltimes = #{alarmcontroltimes,jdbcType=NUMERIC},
            </if>
            <if test="exceptionmaxvalue != null">
                ExceptionMaxValue = #{exceptionmaxvalue,jdbcType=DOUBLE},
            </if>
            <if test="exceptionminvalue != null">
                ExceptionMinValue = #{exceptionminvalue,jdbcType=DOUBLE},
            </if>
            <if test="zerovaluetimes != null">
                ZeroValueTimes = #{zerovaluetimes,jdbcType=NUMERIC},
            </if>
            <if test="iseffectivetransmission != null">
                iseffectivetransmission = #{iseffectivetransmission,jdbcType=NUMERIC},
            </if>
            <if test="continuityvaluetimes != null">
                ContinuityValueTimes = #{continuityvaluetimes,jdbcType=NUMERIC},
            </if>
            <if test="updatetime != null">
                UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateuser != null">
                UpdateUser = #{updateuser,jdbcType=VARCHAR},
            </if>
            <if test="flowchangewarnpercent != null">
                flowchangewarnpercent= #{flowchangewarnpercent,jdbcType=DOUBLE},
            </if>
            <if test="concentrationchangewarnpercent != null">
                concentrationchangewarnpercent= #{concentrationchangewarnpercent,jdbcType=DOUBLE},
            </if>
            <if test="changebasevalue != null">
                changebasevalue= #{changebasevalue,jdbcType=DOUBLE},
            </if>
            <if test="pollutantratio != null">
                pollutantratio= #{pollutantratio,jdbcType=DOUBLE},
            </if>
        </set>
        where PK_DataID = #{pkDataid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey"
            parameterType="com.tjpu.sp.model.environmentalprotection.monitorpoint.WaterOutPutPollutantSetVO">
    update T_BAS_WaterOutPutPollutantSet
    set FK_PollutionID = #{fkPollutionid,jdbcType=VARCHAR},
      FK_WaterOutPutID = #{fkWateroutputid,jdbcType=VARCHAR},
      FK_PollutantCode = #{fkPollutantcode,jdbcType=VARCHAR},
      FK_StandardID = #{fkStandardid,jdbcType=VARCHAR},
      StandardMaxValue = #{standardmaxvalue,jdbcType=DOUBLE},
      StandardMinValue = #{standardminvalue,jdbcType=DOUBLE},
      MonitorWay = #{monitorway,jdbcType=NUMERIC},
      alarmtype = #{alarmtype,jdbcType=NUMERIC},
      alarmcontroltimes = #{alarmcontroltimes,jdbcType=NUMERIC},
      ExceptionMaxValue = #{exceptionmaxvalue,jdbcType=DOUBLE},
      ExceptionMinValue = #{exceptionminvalue,jdbcType=DOUBLE},
      ZeroValueTimes = #{zerovaluetimes,jdbcType=NUMERIC},
      iseffectivetransmission = #{iseffectivetransmission,jdbcType=NUMERIC},
      ContinuityValueTimes = #{continuityvaluetimes,jdbcType=NUMERIC},
      UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      flowchangewarnpercent= #{flowchangewarnpercent,jdbcType=DOUBLE},
      concentrationchangewarnpercent= #{concentrationchangewarnpercent,jdbcType=DOUBLE},
      changebasevalue= #{changebasevalue,jdbcType=DOUBLE},
      pollutantratio= #{pollutantratio,jdbcType=DOUBLE},
      UpdateUser = #{updateuser,jdbcType=VARCHAR}
    where PK_DataID = #{pkDataid,jdbcType=VARCHAR}
  </update>

    <!--
     * @author: lip
     * @date: 2019/5/22 0022 下午 1:34
     * @Description: 根据自定义查询集合获取废水/雨水污染物设置表信息
     * @updateUser:
     * @updateDate:
     * @updateDescription:
    -->
    <select id="getWaterOrRainPollutantsByParamMap" parameterType="map" resultMap="BaseResultMap">
        SELECT
        t1.PK_DataID,
        t1.PollutantRatio,
        t4.Code pollutantcode,
        t4.Name pollutantname,
        t4.IsDefaultSelect,
        t1.FK_PollutantCode,
        t4.PollutantUnit,
        t4.IsShowFlow,
        t1.MonitorWay,
        t5.PK_StandardID,
        t5.StandardName,
        t1.StandardMaxValue,
        t1.StandardMinValue,
        t1.ExceptionMaxValue,
        t1.ExceptionMinValue,
        t1.alarmtype,
        t1.alarmcontroltimes,
        t1.ZeroValueTimes,
        t1.ContinuityValueTimes,
        t7.Code alarmlevelcode,
        t7.Name alarmlevelname,
        t6.ConcenAlarmMaxValue,
        t6.ConcenAlarmMinValue,
        t1.FlowChangeWarnPercent,
        t1.ChangeBaseValue,
        t1.iseffectivetransmission,
        t1.ConcentrationChangeWarnPercent
        FROM
        T_BAS_WaterOutPutPollutantSet t1
        INNER JOIN T_BAS_Pollution t2 ON t1.FK_PollutionID = t2.PK_PollutionID
        INNER JOIN T_BAS_WaterOutputInfo t3 ON t1.FK_WaterOutPutID = t3.PK_ID
        INNER JOIN PUB_CODE_PollutantFactor t4 ON t1.FK_PollutantCode = t4.Code
        AND t4.PollutantType = #{pollutanttype}
        and t4.isused = '1'
        LEFT JOIN T_BAS_Standard t5 ON t5.PK_StandardID = t1.FK_StandardID
        LEFT JOIN T_BAS_EarlyWarningSet t6 ON t6.FK_OutPutID = t1.FK_WaterOutPutID
        AND t6.FK_PollutionID = t1.FK_PollutionID
        AND t6.FK_PollutantCode = t1.FK_PollutantCode
        LEFT JOIN PUB_CODE_AlarmLevel t7 ON t7.Code = t6.FK_AlarmLevelCode
        <trim prefix="where" prefixOverrides="AND|OR">
            <if test="outputid != null and outputid!=''">
                and t1.FK_WaterOutPutID = #{outputid,jdbcType=VARCHAR}
            </if>
            <if test="pollutantcode != null and pollutantcode!=''">
                and t1.FK_PollutantCode = #{pollutantcode,jdbcType=VARCHAR}
            </if>
            <if test="isshowflow != null and isshowflow =='show'">
                and (t4.IsShowFlow = '1' or t4.IsShowFlow is null)
            </if>
            <if test="pollutantcode != null and pollutantcode!=''">
                and t1.FK_PollutantCode = #{pollutantcode,jdbcType=VARCHAR}
            </if>
            <if test="pollutanttype =='1'.toString()">
                AND (
                t3.OutPutType IS NULL
                OR t3.OutPutType != '3'
                )
            </if>
            <if test="pollutanttype =='37'.toString()">
                and t3.OutPutType = '3'
            </if>
            <if test="outputids !=null and outputids.size>0">
                and t1.FK_WaterOutPutID in
                <foreach collection="outputids" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>

        </trim>
        ORDER by t4.OrderIndex,t7.Code
    </select>
    <!--
        author:chengzq
        description: 
        param:
        date: 2019/05/28 13:11
    -->
    <select id="getWaterOrRainPollutantByParamMap" parameterType="map" resultType="map">
        SELECT
        distinct
        t1.pk_dataid,
        t4.code pollutantcode,
        t4.name pollutantname,
        t4.pollutantunit,
        t4.orderindex,
        t1.monitorway,
        t5.pk_standardid,
        t5.standardname,
        t1.standardmaxvalue,
        t1.standardminvalue,
        t1.exceptionmaxvalue,
        t1.exceptionminvalue,
        t1.alarmtype,
        t1.alarmcontroltimes,
        t1.zerovaluetimes,
        t1.continuityvaluetimes,
        t7.code alarmlevelcode,
        t7.name alarmlevelname,
        t6.concenalarmmaxvalue,
        t1.MonitorStatus,
        t6.concenalarmminvalue,
        t3.dgimn
        FROM
        T_BAS_WaterOutPutPollutantSet t1
        INNER JOIN T_BAS_Pollution t2 ON t1.FK_PollutionID = t2.PK_PollutionID
        INNER JOIN T_BAS_WaterOutputInfo t3 ON t1.FK_WaterOutPutID = t3.PK_ID
        INNER JOIN PUB_CODE_PollutantFactor t4 ON t1.FK_PollutantCode = t4.Code and t4.isused='1'
        <choose>
            <when test="pollutanttype!=null">
                AND t4.PollutantType=#{pollutanttype}
            </when>
            <otherwise>
                AND t4.PollutantType=1
            </otherwise>
        </choose>
        LEFT JOIN T_BAS_Standard t5 ON t5.PK_StandardID = t1.FK_StandardID
        LEFT JOIN T_BAS_EarlyWarningSet t6 ON t6.FK_OutPutID = t1.FK_WaterOutPutID
        AND t6.FK_PollutionID = t1.FK_PollutionID
        AND t6.FK_PollutantCode = t1.FK_PollutantCode
        LEFT JOIN PUB_CODE_AlarmLevel t7 ON t7.Code = t6.FK_AlarmLevelCode
        <trim prefix="where" prefixOverrides="AND|OR">
            <if test="outputid != null and outputid!=''">
                and t1.FK_WaterOutPutID = #{outputid,jdbcType=VARCHAR}
            </if>
            <if test="outputids !=null and outputids.size>0 ">
                and t1.FK_WaterOutPutID in
                <foreach collection="outputids" separator="," close=")" open="(" item="item">
                    #{item}
                </foreach>
            </if>
            <if test="pollutantcode != null and pollutantcode!=''">
                and t1.FK_PollutantCode = #{pollutantcode,jdbcType=VARCHAR}
            </if>

            <if test="pollutantcodes !=null and pollutantcodes.size>0">
                and t1.FK_PollutantCode in
                <foreach collection="pollutantcodes" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>

            <if test="datamark =='1'">
                AND (
                t3.OutPutType IS NULL
                OR t3.OutPutType != '3'
                )
            </if>
            <if test="datamark =='3'">
                and t3.OutPutType = '3'
            </if>
        </trim>
        order by
        t4.orderindex,
        t4.code,
        t7.Code
    </select>

    <!--
        author:xsm
        description:
        param:
        date: 2019/12/05 18:22
    -->
    <select id="getWaterOrRainPollutantSetInfoByParamMap" parameterType="map" resultType="map">
        SELECT
        t1.pk_dataid,
        t4.code pollutantcode,
        t4.name pollutantname,
        t1.FK_WaterOutPutID outputid,
        t4.pollutantunit,
        t1.MonitorStatus,
        t4.orderindex,
        ''pollutantcategory
        FROM
        T_BAS_WaterOutPutPollutantSet t1
        INNER JOIN T_BAS_Pollution t2 ON t1.FK_PollutionID = t2.PK_PollutionID
        INNER JOIN T_BAS_WaterOutputInfo t3 ON t1.FK_WaterOutPutID = t3.PK_ID
        INNER JOIN PUB_CODE_PollutantFactor t4 ON t1.FK_PollutantCode = t4.Code and t4.isused='1'
        AND t4.PollutantType = #{monitorpointtype}
        <trim prefix="where" prefixOverrides="AND|OR">
            <if test="outputid != null and outputid!=''">
                and t1.FK_WaterOutPutID = #{outputid,jdbcType=VARCHAR}
            </if>
            <if test="datamark =='1'">
                AND (
                t3.OutPutType IS NULL
                OR t3.OutPutType != '3'
                )
            </if>
            <if test="datamark =='3'">
                and t3.OutPutType = '3'
            </if>
        </trim>
        order by
        t4.orderindex
    </select>
    <!--
      author:liyc
      description: 通过排口id删除报警关联数据
      param:
      date: 2019/09/26 16:27
     -->
    <delete id="deleteByOutPutID" parameterType="map">
        DELETE from T_BAS_EarlyWarningSet
        <trim prefix="where" prefixOverrides="AND|OR">
            <if test="outputid!=null and outputid!='' ">
                and FK_OutPutID=#{outputid}
            </if>
            <if test="pollutantcode!=null and pollutantcode!='' ">
                and FK_PollutantCode=#{pollutantcode}
            </if>
        </trim>
    </delete>

    <!--
   * @author: lip
   * @date: 2021/1/13 0013 下午 2:25
   * @Description: 获取点位污染物标准信息
   * @updateUser:
   * @updateDate:
   * @updateDescription:
  -->
    <select id="getPollutantStandardDataListByParam" parameterType="map" resultType="map">

        SELECT
        *
        FROM
        (
        SELECT
        t2.dgimn,
        t1.alarmtype,
        t1.standardmaxvalue,
        t1.standardminvalue,
        t1.fk_pollutantcode AS pollutantcode,
        '4' AS alarmleveltype,
        f.accuracy,
        t1.FK_WaterOutPutID AS monitorpointid
        FROM
        T_BAS_WaterOutPutPollutantSet t1
        INNER JOIN T_BAS_WaterOutputInfo t2 ON t1.FK_WaterOutPutID = t2.PK_ID
        LEFT JOIN PUB_CODE_PollutantFactor f ON f.Code = t1.FK_PollutantCode
        UNION
        SELECT
        t2.dgimn,
        t3.alarmtype,
        t1.ConcenAlarmMaxValue AS standardmaxvalue,
        t1.ConcenAlarmMinValue AS standardminvalue,
        t1.fk_pollutantcode AS pollutantcode,
        t1.FK_AlarmLevelCode AS alarmleveltype,
        f.accuracy,
        t1.FK_OutPutID AS monitorpointid
        FROM
        T_BAS_EarlyWarningSet t1
        INNER JOIN T_BAS_WaterOutputInfo t2 ON t1.FK_OutPutID = t2.PK_ID
        INNER JOIN T_BAS_WaterOutPutPollutantSet t3 ON t3.FK_WaterOutPutID = t2.PK_ID
        LEFT JOIN PUB_CODE_PollutantFactor f ON f.Code = t1.FK_PollutantCode
        AND t3.FK_PollutantCode = t1.FK_PollutantCode
        ) t
        <trim prefix="where" prefixOverrides="AND|OR">
            <if test="outputids!=null and outputids.size>0">
                t.monitorpointid in
                <foreach collection="outputids" item="item" close=")" open="(" separator=",">
                    #{item}
                </foreach>
            </if>
        </trim>

    </select>

    <select id="getAllWaterPollutantInfo" resultType="map">
      SELECT
        *
      FROM
        T_BAS_WaterOutPutPollutantSet t1
        INNER JOIN T_BAS_WaterOutputInfo t3 ON t1.FK_WaterOutPutID = t3.PK_ID
    </select>


    <select id="getPollutantSetByParam" parameterType="map" resultType="map">
        select
            t1.pk_dataid,
            t1.standardmaxvalue,
            t1.standardminvalue,
            t1.alarmtype,
            t3.fk_alarmlevelcode,
            t3.concenalarmmaxvalue,
            t3.concenalarmminvalue
        from
            t_bas_wateroutputpollutantset t1
            inner join t_bas_wateroutputinfo t2 on t1.fk_wateroutputid = t2.pk_id
            left join t_bas_earlywarningset t3 on t3.fk_outputid = t1.fk_wateroutputid
            and t3.fk_pollutantcode = t1.fk_pollutantcode
        <trim prefix="where" prefixOverrides="AND|OR">
            t1.AlarmType IS NOT NULL
            <if test="dgimn!=null and dgimn!=''">
                and t2.DGIMN = #{dgimn}
            </if>
            <if test="pollutantcode!=null and pollutantcode!=''">
                and t1.FK_PollutantCode = #{pollutantcode}
            </if>

        </trim>

    </select>


    <select id="getPollutantSetListByParam" parameterType="map" resultType="map">
        SELECT
        t1.fk_pollutantcode,
        t2.dgimn,
        t1.alarmtype,
        t1.standardminvalue,
        t1.standardmaxvalue,
        t4.ishasconvertdata,
        t4.pollutantunit,
        t3.fk_alarmlevelcode,
        t3.concenalarmminvalue,
        t3.concenalarmmaxvalue
        FROM
        t_bas_wateroutputpollutantset t1
        INNER JOIN t_bas_wateroutputinfo t2 ON t2.pk_id = t1.fk_wateroutputid
        INNER JOIN pub_code_pollutantfactor t4 ON t4.code = t1.fk_pollutantcode
        AND t4.pollutanttype = #{monitorpointtype}
        LEFT JOIN t_bas_earlywarningset t3 ON t3.fk_outputid = t2.pk_id
        AND t3.fk_pollutantcode = t1.fk_pollutantcode
        <trim prefix="where" prefixOverrides="AND|OR">
            t2.dgimn is not null
            and t1.fk_pollutantcode is not null
            <if test="outputtype!=null and outputtype!=''">
                and t2.OutPutType = #{outputtype}
            </if>

        </trim>

    </select>


</mapper>